@font-face {
    font-family: 'MyFont';
    src: url('./Christmas.otf') format('otf'),
      url('./GummyBears.otf') format('otf');
    font-weight: 600;
    font-style: normal;
  }
  
   .hello {
     color: red;
    font-family: 'MyFont';
     background: url('./icon.png');
   }